body{
    background-color: white;
    text-align:center ;
    padding:100px;
}
img{
    width:400px;
    display: block;
}
input{
    width:500px;
    height:40px;
    border-radius:20px;
    border:0px;
    /* border : none; */
    padding:5px 10px;
    box-shadow: 1px 1px 5px 2px rgb(206, 203, 203) ;

}
button{
    margin-top:15px;
    margin-right:5px;
    border-radius:8px;
    border: 0px;
    
    padding: 10px 20px;
}
